@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  background-color: rgba(249, 246, 246, 0.179);
}
.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}